<ion-content>
  <app-basic-header></app-basic-header>
<ion-toolbar> 
  <ion-row>
    <ion-col size="2">
      <ion-button color="danger" (click)="navCtrl.pop()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-col>
    <ion-col size="10">
        <ion-searchbar mode="md" color="search" placeholder="Buscar..." animated debounce="300" (ionChange)="buscar($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-toolbar> 
  <ion-list lines="full">
    <ion-item *ngFor="let afiliado of afiliados" detail="true" [routerLink]="['/productos', afiliado.id_afiliado_sucursal]">
      <ion-img [src]="afiliado.imagen_presentacion" slot="start"></ion-img>
      <ion-label>
        <h2>{{ afiliado.nombre_afiliado }}</h2>
        <p>{{ afiliado.descripcion_afiliado }}</p>
        <ion-badge class="mr-5 mt-5" color="primary"><ion-icon name="pin"></ion-icon> {{ afiliado.referencia }}</ion-badge><ion-badge class="mr-5 mt-5" color="primary"><ion-icon name="time"></ion-icon> {{ afiliado.hora_entrada }} - {{ afiliado.hora_salida }}</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
