<ion-content fullscreen class="ion-padding">
  <ion-slides #tutorial>
    <ion-slide>
      <div class="slide">
        <ion-label class="title-text boo-title" color="primary">COMPARTE TU UBICACIÓN </ion-label> <ion-label class="title-text boo-title custom-color">Y REVISA LOS LOCALES MÁS CERCANOS</ion-label>
        <img class="img-adjust mt-30 mb-30" src="../../../assets/images/slide1.svg"/>
        <img class="img-adjust mb-30" src="../../../assets/images/linea1.svg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <ion-label class="title-text boo-title custom-color" >ELIJE LO QUE QUIERES COMPRAR </ion-label> <ion-label class="title-text boo-title" color="primary">Y ORDENA DESDE EL APP FÁCILMENTE</ion-label>
        <img class="img-adjust mt-30 mb-30" src="../../../assets/images/slide2.svg"/>
        <img class="img-adjust mb-30" src="../../../assets/images/linea2.svg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <ion-label class="title-text boo-title" color="primary">RECIBE TUS COMPRAS </ion-label> <ion-label class="title-text boo-title custom-color">DE UNA FORMA SEGURA</ion-label>
        <img class="img-adjust mt-30 mb-30" src="../../../assets/images/slide3.svg"/>
        <img class="img-adjust mb-30" src="../../../assets/images/linea3.svg"/>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-footer class="text-center">
    <ion-button *ngIf="!isLastTutorial" fill="outline" color="primary" expand="block" (click)="goNext()">CONTINUAR</ion-button>
    <ion-button *ngIf="isLastTutorial" fill="outline" color="primary" expand="block" (click)="saveTutorial()">COMENZAR</ion-button>
  </ion-footer>
</ion-content>
